* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: pink;
}


.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.brand-filter, .color-filter, #search {
    margin: 0 20px
}

.filter-input {
    width: 200px;
    height: 30px;
}

#search {
    width: 200px;
    height: 30px;
}

#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.films {
    width: 200px;
    height: auto;
    padding: 20px;
    margin: 20px;
    background-color: aquamarine;
}